.todocard{
    background-color: red;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.archivedcard{
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: space-between;
}

.todocard:hover {
    background: #ddd;
}

.todocard:checked{
    text-decoration: line-through;
    background-color: black;
}

.archive{
    background-color: aquamarine;
}

/* Style the close button */
.close {
    padding: 12px 16px 12px 16px;
    background-color: blue;
}
